---
layout: layouts/base.njk
section: "home"
---
{% set episodeList = collections.episodes | reverse %}

{% for episode in episodeList.slice(0,1) %}
  {% include "components/ep-small.njk" %}
{% endfor %}