:root {
  /**
  * Fonts loaded in `head.njk` from Google Fonts
  *
  * Weights available:
  * 400, 500 (Baloo 2), 700, 800
  *
  */
  --font-base: "Work Sans", sans-serif;
  --font-secondary: "Baloo 2", "Work Sans", sans-serif;
  --color-blush: #BAA4FF;
  --color-brand--dark: #3F20A2;
  --color-brand--green: #aeff96;
  --color-dark: #100346;
  --gradient-bg: linear-gradient(167.87deg, var(--color-dark) 0%, #2D217E 99.39%);
  --gradient-button: linear-gradient(147deg, #8747D8 18.97%, #9E58A4 83.18%);
  --text-color: #fff;
  --link-color: var(--color-brand--green);
  --border-radius: 5px;
  --grid-unit: 8px;
  --vspace: calc( 4 * var(--grid-unit) );
  --hspace: calc( 2 * var(--grid-unit) );
  --elevation: 0px 20px 60px -30px var(--color-dark);
  --cta-transcript-bg: var(--color-dark);
  --cta-transcript-color: var(--text-color);
  --base-font-size: clamp(1rem, calc(2vw + 2px), 1.313rem );
}
@media (prefers-color-scheme: light) {
  :root {
    --gradient-bg: #F8F8F8;
    --text-color: #4421AB;
    --text-gradient: linear-gradient(90deg, #8747D8 0%, #4622B0 100%);
    --cta-transcript-bg: var(--color-blush);
    --cta-transcript-color: var(--color-dark);
  }
}
@media only screen and (min-width: 1024px) {
  :root {
    --hspace: calc( 6 * var(--grid-unit) );
  }
}

.hpadding, .menu header,
.menu li > a, .episode--info {
  padding-left: var(--hspace);
  padding-right: var(--hspace);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--font-base);
  font-size: 100%;
  font-size: var(--base-font-size);
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-base);
}

h1 {
  font-weight: 800;
  font-size: 1.953em;
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 2.441em;
  }
}

h2,
h3,
h4 {
  font-weight: 700;
}

h2 {
  font-size: 1.563em;
}
@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 1.953em;
  }
}

h3 {
  font-size: 1.25em;
}
@media only screen and (min-width: 1024px) {
  h3 {
    font-size: 1.563em;
  }
}

h4 {
  font-size: 1.25em;
}

p {
  font-family: 1em;
}

body {
  background: var(--gradient-bg) no-repeat;
  background-size: cover;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  justify-content: flex-start;
  align-content: center;
}

a {
  color: inherit;
}
main a {
  color: var(--color-brand--green);
}

button {
  appearance: none;
  background: transparent;
  box-shadow: none;
  border: 0;
  color: inherit;
  padding: 0;
  font-family: var(--font-secondary);
}

.cta {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 6px 12px 4px;
  backdrop-filter: blur(10px);
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-family: var(--font-secondary);
}
.cta > svg {
  height: 15px;
  width: 15px;
  margin-right: var(--grid-unit);
}
.cta:hover {
  border: 1px solid white;
}
.cta--transcript {
  background-color: var(--cta-transcript-bg);
  color: var(--cta-transcript-color);
  text-transform: uppercase;
  border-color: transparent;
  font-size: 0.875em;
  display: flex;
  border-radius: 40px;
  width: auto;
  align-items: center;
  justify-content: center;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  bottom: calc( 2 * var(--grid-unit));
}

.tf-toolbar {
  padding: var(--vspace) var(--hspace);
  width: 100vw;
}
.tf-toolbar .site-nav {
  display: grid;
  grid-template-columns: auto calc(5 * var(--grid-unit)) auto;
  column-gap: 2vw;
  font-size: 0.75em;
  grid-template-areas: "about branding cta";
  align-items: center;
}
.tf-toolbar .branding {
  grid-area: branding;
  height: calc(5 * var(--grid-unit));
  width: calc(5 * var(--grid-unit));
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}
.tf-toolbar button {
  grid-area: cta;
  justify-self: end;
  border-radius: 20px;
}
.tf-toolbar .nav-about {
  grid-area: about;
  justify-self: start;
  text-decoration: none;
}

.episode--cover {
  height: 33.35vh;
  overflow: visible;
  width: auto;
  display: flex;
}
.episode--cover > figure {
  box-shadow: var(--elevation);
  object-fit: contain;
  object-position: center;
  border-radius: var(--border-radius);
  overflow: hidden;
  height: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.episode--cover > figure img {
  max-width: 100%;
  height: 100%;
  width: auto;
}

.episode--info {
  text-align: center;
  margin-top: calc( 3 * var(--grid-unit) );
}
.episode--info h2 {
  line-height: 1.1;
  padding-left: var(--hspace);
  padding-right: var(--hspace);
}

.episode--number {
  color: var(--color-blush);
  font-family: var(--font-secondary);
  margin-bottom: var(--grid-unit);
}

.episode--duration {
  font-family: var(--font-secondary);
}

.episode--transcript {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100vw;
}

.cta--transcript, .episode--number, .episode--duration {
  font-size: 0.875em;
  font-weight: 700;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.time {
  text-align: center;
  order: 0;
  padding-top: var(--grid-unit);
  font-size: 0.875em;
  font-weight: 500;
}

.progress-group {
  height: 20vh;
  position: relative;
  order: 1;
}
.progress-group #waveform {
  position: absolute;
  top: 0;
  left: 0;
  height: 30vh;
  width: 100%;
  transform: translateY(-5vh);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(6 * var(--grid-unit));
  order: 2;
}
.controls .playpause {
  background: rgba(153, 38, 163, 0.2);
  flex: none;
  height: 75px;
  width: 75px;
  padding: 8px;
  box-shadow: 0px 8px 30px -15px #000000;
  border-radius: 50%;
  order: 2;
}
.controls .playpause > div {
  background: var(--gradient-button);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.controls .playpause > div svg {
  height: 45px;
  width: 45px;
}
.controls .playpause .pause-group {
  display: flex;
}
.controls .playpause .play-group {
  display: none;
}
.controls .playpause[aria-pressed=false] .pause-group {
  display: none;
}
.controls .playpause[aria-pressed=false] .play-group {
  display: flex;
}
.controls .skip-back {
  order: 1;
  height: 40px;
  width: 40px;
}
.controls .rate {
  border: 2px solid;
  order: 3;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 1rem;
}
.controls .rate > span {
  transform: translateY(1px) translateX(1px);
}

.menu {
  background: var(--gradient-bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  padding-top: 105px;
  clip-path: circle(40px at 50% var(--vspace));
  visibility: hidden;
  transition: clip-path 0.3s ease-in-out, visibility 0.2s 0.5s;
}
.menu header,
.menu li > a {
  padding-top: calc(2 * var(--grid-unit));
  padding-bottom: calc(2 * var(--grid-unit));
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.menu a {
  text-decoration: none;
}
.menu ol, .menu li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu h3 {
  font-size: 1em;
}
.menu header {
  position: sticky;
  top: 105px;
}
.menu ol {
  height: calc(100vh - 145px);
  overflow: scroll;
  padding-bottom: 171px;
}
.menu button#close-menu {
  background: var(--gradient-button);
  position: fixed;
  bottom: 80px;
  width: 135px;
  height: 37px;
  border-radius: calc( 0.5 * 37px );
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 30px -10px #000000;
}
.menu-open .menu {
  clip-path: circle(130% at 50% var(--vspace));
  visibility: visible;
  z-index: 0;
}

/*# sourceMappingURL=tf.css.map */
