<figure class="episode--cover">
    <img src="{{ site.cdn }}tr:w-270,f-auto,dpr-auto/{{ episode.data.pod.cover or site.epcover }}"
        sizes="(max-width: 1400px) 100vw, 1400px"
        srcset="
            {{ site.cdn }}tr:w-270,f-auto,dpr-auto/{{ episode.data.pod.cover or site.epcover }} 200w,
            {{ site.cdn }}tr:w-450,f-auto,dpr-auto/{{ episode.data.pod.cover or site.epcover }} 600w,
            {{ site.cdn }}tr:w-600,f-auto,dpr-auto/{{ episode.data.pod.cover or site.epcover }} 1200w,
            {{ site.cdn }}tr:w-800,f-auto,dpr-auto/{{ episode.data.pod.cover or site.epcover }} 1400w"
        alt="{{ episode.data.description }}"
        width="270" height="270" />
</figure>
<article class="episode" data-audio="{{episode.data.pod.audio}}">
    <header>
        <div class="episode--number">{% if page.url === "/" %}<em>Latest / </em>{% endif %}Episode {{ episode.data.pod.number }}</div>
        <h2>{{ episode.data.seo_title or episode.data.title }}</h2>
    </header>
    <section class="episode--info">
        {% if page.url === "/" %}
        <div class="episode--excerpt">
            {% excerpt episode %}
        </div>
        {% endif %}
        <div class="episode--content">
            {{ episode.templateContent | safe }}
        </div>
        <div class="episode--transcript">
            <a href="{{ url }}" class="cta cta--transcript"><svg viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.5 0.5H1.5C1.23478 0.5 0.98043 0.605357 0.792893 0.792893C0.605357 0.98043 0.5 1.23478 0.5 1.5V9.5C0.5 9.76522 0.605357 10.0196 0.792893 10.2071C0.98043 10.3946 1.23478 10.5 1.5 10.5H4.5V14.5L9.167 10.5H14.5C14.7652 10.5 15.0196 10.3946 15.2071 10.2071C15.3946 10.0196 15.5 9.76522 15.5 9.5V1.5C15.5 1.23478 15.3946 0.98043 15.2071 0.792893C15.0196 0.605357 14.7652 0.5 14.5 0.5Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.5 7.5H8.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M11.5 7.5H13.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg> Transcript</a>
        </div>
    </section>
</article>