<header class="tf-toolbar">
    <nav class="site-nav">
        {% if page.url == "/" %}
            <h1 class="branding">
        {% else %}
            <div class="branding">
        {% endif %}
            <a href="/" title="Thought Feeder" class="logo">
            <span class="screen-reader-text">Thought Feeder</span>
            <svg viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg" class="tf-logo">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M45 22.5C45 34.9264 34.9264 45 22.5 45C10.0736 45 0 34.9264 0 22.5C0 10.0736 10.0736 0 22.5 0C34.9264 0 45 10.0736 45 22.5ZM43 22.5C43 33.8218 33.8218 43 22.5 43C11.1782 43 2 33.8218 2 22.5C2 11.1782 11.1782 2 22.5 2C33.8218 2 43 11.1782 43 22.5Z" fill="currentColor"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.50214 14.2128V19.3906H14.3938V32.183H20.0191V19.3906H22.8318V32.183H28.2738V27.0938H35.6723V22.0378H28.3349V19.5125H35.6723V14.2128H9.50214Z" fill="currentColor"/>
            </svg>
            </a>
        {% if page.url == "/" %}
            </h1>
        {% else %}
            </div>
        {% endif %}
        <button class="toggle-all cta"><span>All Episodes</span></button>
        <a href="{{ '/about/' | url }}" class="nav-about" {% if '/about/' == page.url %} aria-current="page"{% endif %}>About the Show</a>
    </nav>
</header>