.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.time {
    text-align: center;
    order: 0;
    padding-top: var(--grid-unit);
    font-size: 0.875em;
    font-weight: 500;
}
.progress-group {
    height: 20vh;
    position: relative;
    order: 1;
    display: flex;
    align-items: center;
    #waveform {
        position: absolute;
        top: 0;
        left: 0;
        height: 30vh;
        width: 100%;
        transform: translateY(-5vh);
    }
    .progress-bar {
        background-color: var(--progress-bar);
        position: relative;
        width: 100%;
        height: 3px;
        border-radius: 1.5px;
        max-width: 85vw;
        margin-left: auto;
        margin-right: auto;
        > span {
            display: block;
            position: absolute;
            left: 0;
            height: 3px;
            border-radius: 1.5px;
            background-color: var(--progress-fill);
            box-shadow: 0 0 5px var(--progress-fill);
        }
    }
}
.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(6 * var(--grid-unit));
    position:relative;
    z-index: 1;
    order: 2;
    .playpause {
        background: rgba(#9926A3, 0.2);
        flex: none;
        height: 75px;
        width: 75px;
        padding: 8px;
        box-shadow: 0px 8px 30px -15px #000000;
        border-radius: 50%;
        order: 2;
        > div {
            background: var(--gradient-button);
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            svg {
                height: 45px;
                width: 45px;
            }
        }
        .pause-group {
            display: flex;
        }
        .play-group {
            display: none;
        }
        &[aria-pressed="false"] {
            .pause-group {
                display: none;
            }
            .play-group {
                display: flex;
            }
        }
    }
    .skip-back {
        order: 1;
        height: 40px;
        width: 40px;
    }
    .rate {
        border: 2px solid;
        order: 3;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        font-size: 1rem;
        >span {
            transform: translateY(1px) translateX(1px);
        }
    }
}