<!doctype html>
<html {% if section %} class="layout-{{ section }}"{% endif %} lang="en">
    {% include "components/head.njk" %}
<body>
    {% include "components/toolbar.njk" %}
    <main>
        {{ layoutContent | safe }}
    </main>
    {% include "components/episode-list.njk" %}
</body>
</html>