<!doctype html>
<html {% if section %} class="layout-{{ section }}"{% endif %} lang="en">
    {% include "components/head.njk" %}
    <body>
        {% include "components/toolbar.njk" %}
        <main>
            {{ layoutContent | safe }}
        </main>
        {% include "components/player-controls.njk" %}
        {% include "components/episode-list.njk" %}
        {% set js %}
            {% include "_includes/assets/js/critical.js" %}
        {% endset %}
        <script>{{ js | jsmin | safe }}</script>
        <script src="/assets/js/tf.bundle.js" async></script>
    </body>
</html>